*
# Ignore everything except entries with "!"

!/.idea/
/.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
!/.idea/scopes/
!/.idea/gradle.xml
!/.idea/vcs.xml

!/gradle/

!/src/**
/src/main/resources/mcmod.info

!/.gitignore
!/*.gradle
/.gradle/
!/*.md
!/gradle*
